{% extends 'base.html' %}

{% block content %}

<div class="container">
    <section class="section section-stats">
        <div class="row">

            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <h6 class="bold">Total Budget</h6>
                    <h1 class="bold">$3000</h1>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <h6 class="bold">Total Budget</h6>
                    <h1 class="bold">$3000</h1>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <h6 class="bold">Total Budget</h6>
                    <h1 class="bold">$3000</h1>
                </div>
            </div>

        </div>
    </section>
</div>

{% endblock %}
