@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General Stuffs */
html { font-family: 'Montserrat'; background-color: #E0E0E0 }
.bold { font-weight: bold; }

/* Project list (no projects) */
.noproject-wrapper { margin-top: 250px; padding: 80px 0px; border: 6px solid #9E9E9E; border-style: dashed; }
.noproject-wrapper h3 { padding: 10px; margin-bottom: 50px }
